@{
ViewData["Title"] = "Registrar - Start";
}
<div class="text-center">
    <h1 class="display-4 s">Welcome, To the registrar home screen</h1>
</div>

<div class="pt-4">
    <a asp-action="View_Reports_Registrar" asp-controller="Registrar"
       class="inline-flex items-center rounded-lg py-3 px-6 text-lg font-semibold bg-blue-600 text-blue hover:bg-blue-700 transition-colors duration-200">
        View Obstacle
    </a>
</div>



