@{
    ViewData["Title"] = "Pilot - Start";
}
<div class="text-center">
    <h1 class="display-4 s">Welcome, To the pilot home screen</h1>
</div>

<div class="pt-4">
    <a asp-action="DataformStep1" asp-controller="Obstacle"
       class="inline-flex items-center rounded-lg py-3 px-6 text-lg font-semibold bg-blue-600 text-blue hover:bg-blue-700 transition-colors duration-200">
        Register Obstacle
    </a>
</div>

<div class="pt-4">
    <a asp-action="View_Reports_Pilot" asp-controller="Pilot"
       class="inline-flex items-center rounded-lg py-3 px-6 text-lg font-semibold bg-blue-600 text-blue hover:bg-blue-700 transition-colors duration-200">
        View Reports
    </a>
</div>