@{
    Layout = "~/Views/Shared/_LayoutPilot.cshtml";
}

@{
    ViewData["Title"] = "Pilot - Start";
}
<div class="flex flex-col items-center text-center space-y-6 pt-4 mx-auto min-h-screen"
     >
    
    <h1 class="text-3xl sm:text-5xl font-semibold mt-2 mb-2 sm:mb-7" > 
        Welcome to the <br> Pilot home screen
    </h1>
    

    <div class="flex flex-col gap-3 sm:gap-4">
        <a asp-action="DataformStep1" asp-controller="Obstacle"
           class="text-xl sm:text-2xl md:text-2xl w-full text-center rounded-lg py-16 sm:py-18 md:py-18 px-6 font-semibold 
text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"> Register new Obstacle

        </a>

        <a asp-action="PilotViewReports" asp-controller="Pilot"
           class="text-xl sm:text-2xl md:text-2xl w-full text-center rounded-lg py-6 sm:py-7 md:py-7 px-6 font-semibold 
text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900">
            View Reports
        </a>
      
        <a asp-action="PilotDrafts" asp-controller="Draft"
           class="text-xl sm:text-2xl md:text-2xl w-full text-center rounded-lg py-6 sm:py-7 md:py-7 px-6 font-semibold text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900">
            View Drafts
        </a>
    </div>
</div>