@{
    Layout = "~/Views/Shared/_LayoutPilot.cshtml";
}

@{
    ViewData["Title"] = "Pilot - Start";
}
<div class="text-center">
    <h1 class="display-4 s">Welcome to the pilot home screen</h1>
</div>

<div class="pt-4">
    <a asp-action="DataformStep1" asp-controller="Obstacle"
        class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-blue-500 hover:bg-blue-700 transition-colors duration-200">
        Register Obstacle
    </a>
</div>

<div class="pt-4">
    <a asp-action="PilotViewReports" asp-controller="Pilot"
        class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-blue-500 hover:bg-blue-700 transition-colors duration-200">
        View Reports
    </a>
</div>

<div class="pt-4">
    <a asp-action="PilotDrafts" asp-controller="Pilot"
        class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-blue-500 hover:bg-blue-700 transition-colors duration-200">
        View Drafts
    </a>
</div>