@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center pt-4"> 
    <a asp-action="Register" asp-controller="Admin"
       class="inline-block min-w-[200px] items-center rounded-lg py-3 px-6 font-semibold text-white bg-blue-500 hover:bg-blue-700 transition-colors duration-200"> 
        Create User
    </a>
</div>