@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Admin Page";
}


<div class="flex flex-col items-center text-center space-y-6 pt-4 mx-auto min-h-screen">
    Users
    @{
        
        if (!Model.Any())
        {
            <div>
                No users in database
            </div>
        }
        else
        {
            <table>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                </tr>
                @{ 
                    foreach(var user in Model)
                    {
                        <tr>
                            <td>@user.id</td>
                        </tr>
                        <tr>
                            <td>@user.UserName</td>
                        </tr>
                    }
                 }
            </table>
        }
        
    }
</div>