@model NRLObstacleReporting.Models.ObstacleStep1Model 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Register yo shi</h1>
    <form method="post">
        
        <div>
            <label asp-for="ObstacleType"></label>
            <input asp-for="ObstacleType" />
            <span asp-validation-for="ObstacleType"></span>
        </div>

        <div>
            <label asp-for="ObstacleHeightMeter"></label>
            <input asp-for="ObstacleHeightMeter" />
            <span asp-validation-for="ObstacleHeightMeter"></span>
        </div>


        <button class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-green-800 hover:bg-green-900 transition-colors duration-200" type="submit" formaction="/Obstacle/DataformStep1" id="Submit">Next Page</button>
        <button class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-green-800 hover:bg-green-900 transition-colors duration-200" type="submit" formaction="/Obstacle/DataformStep1" id="savebutton">Save Draft</button>
        <input type="hidden" asp-for="SaveDraft" id="save"/>
    </form>
</div>

@section Scripts {
    <script>
        document.getElementById('savebutton').addEventListener('click', function () {
            document.getElementById('save').value = 'true';
        });
        document.getElementById('Submit').addEventListener('click', function () {
            document.getElementById('save').value = 'false';
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}