@model NRLObstacleReporting.Models.ObstacleStep3Model

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center content-center">
    <h1 class="display-4">Register yo shi</h1>
    <form asp-action="DataformStep3" method="post">
        <input asp-for="ObstacleId" type="hidden" value="@TempData.Peek("id")" />
        <div>
            <label asp-for="ObstacleName"></label>
            <input asp-for="ObstacleName"/>
        </div>
        <div>
            <label asp-for="ObstacleDescription"></label>
            <input asp-for="ObstacleDescription"/>
        </div>
        <div class="">
            <label asp-for="ObstacleIlluminated"></label>
            <div class="divide-x-0 grid grid-cols-2 w-1/2 mx-auto">
                <button type="button" id="illuminated-yes" class="but rounded-l-lg p-2 font-semibold text-white bg-green-800 hover:bg-green-900 transition-colors duration-200 mb-2">Med lys</button>
                <button type="button" id="illuminated-no" class="but rounded-r-lg p-2 font-semibold text-white bg-green-800 hover:bg-green-900 transition-colors duration-200 mb-2">Uten lys</button>
                <input type="hidden" asp-for="ObstacleIlluminated" id="ObstacleIlluminated"/>
            </div>
            <button class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-green-800 hover:bg-green-900 transition-colors duration-200"
                    type="submit" formaction="/Obstacle/DataformStep3" id="Submit">Submit Report</button>
            <button class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-green-800 hover:bg-green-900 transition-colors duration-200"
                    type="submit" formaction="/Obstacle/DataformStep3" id="Draft">Save Draft</button>
            <input type="hidden" asp-for="IsDraft" id="IsDraft"/>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <partial name="_ValidationScriptsPartial" />
    <script>
        //Sets the value of illuminated
        document.getElementById('illuminated-yes').addEventListener('click', function () {
            document.getElementById('ObstacleIlluminated').value = 'true';
            this.classList.add('active');
            document.getElementById('illuminated-no').classList.remove('active');
        });
        document.getElementById('illuminated-no').addEventListener('click', function () {
            document.getElementById('ObstacleIlluminated').value = 'false';
            this.classList.add('active');
            document.getElementById('illuminated-yes').classList.remove('active');
        });
        document.getElementById('Submit').addEventListener('click', function () {
            document.getElementById('IsDraft').value = 'false';
        });
        document.getElementById('Draft').addEventListener('click', function () {
            document.getElementById('IsDraft').value = 'true';
        });

        const defaultColor = 'bg-green-800'; // Default color
        const activeColor = 'bg-green-900'; // Active color
        const buttons = document.querySelectorAll('.but'); 

        buttons.forEach((but) => {
            but.addEventListener('click', () => {
                // Rest all button colors
                buttons.forEach((b) => {
                    b.classList.add(defaultColor);
                    b.classList.remove(activeColor);
                });
        
                but.classList.remove(defaultColor);
                but.classList.add(activeColor);
            });
        });

                // Set default to "false" if not chosen
        document.querySelector('form').addEventListener('submit', function () {
            var illuminated = document.getElementById('ObstacleIlluminated');
            if (!illuminated.value) {
                illuminated.value = 'false';
            }
        });
    
    </script>
}