@model NRLObstacleReporting.Models.ObstacleStep1Model
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Report an Obstacle</h1>
    <h1 class="display-4">Report an Obstacle</h1>
    <form method="post">
        <div>
            <button type="button" id="PowerLine"
                class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                style="height: 20dvh">
                <img src="https://static.thenounproject.com/png/126856-200.png"
                    class="relative items-center mx-auto w-24 h-24 mb-5" alt="poweline picture" />
                <button type="button" id="PowerLine"
                    class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                    style="height: 20dvh">
                    <img src="https://static.thenounproject.com/png/126856-200.png"
                        class="relative items-center mx-auto w-24 h-24 mb-5" alt="poweline picture" />
                    <div class="absolute bottom-8 inset-x-0">
                        Power Line
                    </div>
                </button>
                <button type="button" id="Pole"
                    class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold  text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                    style="height: 20dvh">
                    <img src="https://cdn-icons-png.flaticon.com/512/82/82556.png"
                        class="relative items-center mx-auto w-16 h-16 mb-5" alt="picture pole" />
                    <button type="button" id="Pole"
                        class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold  text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                        style="height: 20dvh">
                        <img src="https://cdn-icons-png.flaticon.com/512/82/82556.png"
                            class="relative items-center mx-auto w-16 h-16 mb-5" alt="picture pole" />
                        <div class="absolute bottom-8 inset-x-0">
                            Pole
                        </div>
                    </button>
                    <button type="button" id="Building"
                        class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold  text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                        style="height: 20dvh">
                        <img src="https://www.iconpacks.net/icons/1/free-building-icon-1062-thumb.png"
                            class="relative items-center mx-auto w-16 h-16 mb-5" alt="picture building" />
                        <button type="button" id="Building"
                            class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold  text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                            style="height: 20dvh">
                            <img src="https://www.iconpacks.net/icons/1/free-building-icon-1062-thumb.png"
                                class="relative items-center mx-auto w-16 h-16 mb-5" alt="picture building" />
                            <div class="absolute bottom-8 inset-x-0">
                                Building
                            </div>
                        </button>
                        <button type="button" id="Construction"
                            class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                            style="height: 20dvh">
                            <img src="https://cdn-icons-png.flaticon.com/512/3752/3752632.png"
                                class="relative items-center mx-auto w-16 h-16 mb-5" alt="picture construction" />
                            <button type="button" id="Construction"
                                class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                                style="height: 20dvh">
                                <img src="https://cdn-icons-png.flaticon.com/512/3752/3752632.png"
                                    class="relative items-center mx-auto w-16 h-16 mb-5" alt="picture construction" />
                                <div class="absolute bottom-8 inset-x-0">
                                    Construction
                                </div>
                            </button>
                            <br />
                            <button type="button" id="Natural"
                                class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                                style="height: 20dvh">
                                <img src="https://cdn-icons-png.flaticon.com/128/902/902558.png"
                                    class="relative items-center mx-auto w-16 h-16 mb-5" alt="picture Natural" />
                                <br />
                                <button type="button" id="Natural"
                                    class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                                    style="height: 20dvh">
                                    <img src="https://cdn-icons-png.flaticon.com/128/902/902558.png"
                                        class="relative items-center mx-auto w-16 h-16 mb-5" alt="picture Natural" />
                                    <div class="absolute bottom-8 inset-x-0">
                                        Natural
                                    </div>
                                </button>
                                <button type="button" id="Other"
                                    class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold  text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                                    style="height: 20dvh">
                                    <img src="https://cdn-icons-png.flaticon.com/512/5895/5895032.png"
                                        class="relative items-center mx-auto w-24 h-24 mb-5" alt="picture other" />
                                    <button type="button" id="Other"
                                        class="but relative items-center rounded-lg w-1/3 text-2xl font-semibold  text-black bg-blue-200 hover:bg-blue-400 transition-colors duration-200 mb-2 border-2 border-blue-900"
                                        style="height: 20dvh">
                                        <img src="https://cdn-icons-png.flaticon.com/512/5895/5895032.png"
                                            class="relative items-center mx-auto w-24 h-24 mb-5" alt="picture other" />
                                        <div class="absolute bottom-8 inset-x-0">
                                            Other
                                        </div>
                                    </button>


        </div>
        <div class="font-bold">
            <div class="font-bold">
                <label asp-for="ObstacleHeightMeter">Height in meter</label>
                <br />
                <input class="rounded-2xl mb-3 bg-blue-200 text-black text-center border-2 border-blue-900 "
                    style="height: 5dvh; width: 50dvw; margin-left: auto; margin-right: auto"
                    asp-for="ObstacleHeightMeter" />
                <span asp-validation-for="ObstacleHeightMeter"></span>
            </div>

            <button type="submit"
                class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-blue-500 hover:bg-blue-700 transition-colors duration-200"
                formaction="/Obstacle/DataformStep1" id="nextpage">Next Page</button>
            <button type="submit"
                class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-blue-500 hover:bg-blue-700 transition-colors duration-200"
                formaction="/Obstacle/DataformStep1" id="savebutton">Save Draft</button>

            <input type="hidden" asp-for="SaveDraft" id="save" />
            <input type="hidden" asp-for="ObstacleType" id="ObstacleType" />
    </form>
</div>

@section Scripts {
    <script src="~/js/ColorActiveButton.js"></script>
    <script>
        //saves the value of the button/type you choose
        AssignValueByID("PowerLine", "ObstacleType", 0)
        AssignValueByID('Pole', 'ObstacleType', 1)
        AssignValueByID('Building', 'ObstacleType', 2)
        AssignValueByID('Construction', 'ObstacleType', 3)
        AssignValueByID('Natural', 'ObstacleType', 4)
        AssignValueByID('Other', 'ObstacleType', 5)

        //save draft or next step
        AssignValueByID('savebutton', 'save', true)
        AssignValueByID('nextpage', 'save', false)

        ColorActiveButton('blue-200', 'bg-blue-500')
    </script>
    <partial name="_ValidationScriptsPartial" />
}