@model NRLObstacleReporting.Models.ObstacleStep2Model

<div class="h-dvh overflow-hidden rounded-xl" >
    <h1 class="display-4 text-center">Place your obstacle</h1>
    <section>
        <div id="map" style="height: 65dvh; width: 100dvw; border-radius: 0.75rem; overflow: hidden; border: 1px solid #e5e7eb;">
        </div>
        <div>
            <label for="CoordinatesPreview" class="block text-sm font-medium text-gray-800 mb-1">Coordinates Preview</label>
            <textarea id="CoordinatesPreview" class="block w-full rounded-lg border-gray-300 px-3 py-2 text-sm" readonly placeholder="Draw on the map to see coordinates here..."></textarea>
        </div>
    <form asp-action="DataformStep2" method="post">
        <input type="hidden" asp-for="GeometryGeoJson" id="GeometryGeoJson" />
        <input asp-for="ObstacleId" type="hidden" value="@TempData.Peek("id")" />

        <div>
            <button class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-blue-500 hover:bg-blue-700 transition-colors duration-200"
                    type="submit" formaction="/Obstacle/DataformStep2" id="nextpage" >Next Page</button>
            <button class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-blue-500 hover:bg-blue-700 transition-colors duration-200"
                    type="submit" formaction="/Obstacle/DataformStep2" id="savebutton" >Save Draft</button>
        </div>
        <input type="hidden" asp-for="SaveDraft" id="save"/>
    </form>
    </section>
</div>

@* Script to add a map to the view *@
@section Scripts
{
    <script src="~/js/MapScripts/GenerateMap.js" asp-append-version="true"></script>
    <script src="~/js/MapScripts/GenerateMapItems_DataformStep2.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
    <script>
        //save draft or next step
        AssignValueByID('savebutton', 'save', true)
        AssignValueByID('nextpage', 'save', false)

        //Generates a simple map
        const map = GenerateMap();
        
        //Your choice of obstacle type from the previous view
        const choice = @TempData.Peek("ObstacleType");
        
        //Generate the specific features the map needs for DataformStep2
        GenerateMapItems_DataformStep2(map, choice);
    </script>
    <partial name="_ValidationScriptsPartial" />
}