<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - NRLObstacleReporting</title>

    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/NRLObstacleReporting.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css" />
    <script src="~/lib/leaflet/dist/leaflet.js"></script>
</head>

<body class="bg-blue-50">
    <!-- Header / Navbar -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-blue-300 border-b-3 border-blue-800 box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">NRLObstacleReporting</a>

                <!-- Hamburgerknapp -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Meny -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Registrar" asp-action="RegistrarIndex">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>

                <!-- Høyre knapp -->
                <div class="ms-auto">
                    <a class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
                       asp-controller="Registrar" asp-action="RegistrarIndex">Log out</a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Hovedinnhold -->
    <div class="container">
        <main role="main" style="padding-bottom: 10dvh">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-blue-300 fixed bottom-0 left-0 right-0 border-top-2 p-3 text-black">
        <div class="container">
            &copy; 2025 - NRLObstacleReporting -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/AssignValueByID.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
