@{
    ViewData["Title"] = "Log inn page";
}
    <div class="text-center">
        <h1 class="display-4 s">Welcome, please log </h1>
    </div>



<div class="pt-4">
    <a asp-action="PilotIndex" asp-controller="Pilot"
       class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-green-800 hover:bg-green-900 transition-colors duration-200">
        Log inn as Pilot
    </a>
</div>

<div class="pt-4">
    <a asp-action="RegistrarIndex" asp-controller="Registrar"
       class="inline-block items-center rounded-lg py-3 px-6 font-semibold text-white bg-green-800 hover:bg-green-900 transition-colors duration-200">
        Log inn as Registrar
    </a>
</div>