@{
    ViewData["Title"] = "Log inn page";
}
    <div class="text-center">
        <h1 class="display-4 s">Welcome, please log </h1>
    </div>



<div class="pt-4">
    <a asp-action="PilotIndex" asp-controller="Pilot"
       class="inline-flex items-center rounded-lg py-2 ring-1 ring-indigo-600 text-indigo-700 hover:bg-indigo-50">
        Log inn as Pilot
    </a>
</div>

<div class="pt-4">
    <a asp-action="DataForm" asp-controller="Obstacle"
       class="inline-flex items-center rounded-lg py-2 ring-1 ring-indigo-600 text-indigo-700 hover:bg-indigo-50">
        Log inn as Registrar
    </a>
</div>